<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>MathAnalyze</title>
		<link rel="stylesheet" th:href="@{/css/main.css}">
		<script th:src="@{/js/Jquery.js}" type="text/javascript"></script>
	</head>
	<body>
		<div>
			<div id="nav_bar">
				<ul>
					<li><a th:href="@{/algorithm1}">拉格朗日插值</a></li>
					<li><a th:href="@{/algorithm2}">牛顿插值</a></li>
					<li><a th:href="@{/algorithm3}">直线拟合</a></li>
					<li><a th:href="@{/algorithm6}">多项式二次曲线拟合</a></li>
					<li><a th:href="@{/algorithm4}">复化梯形公式</a></li>
					<li><a th:href="@{/algorithm5}">欧拉函数</a></li>
				</ul>
			</div>
			<div id="main_page">
				<div id="none_left"></div>
				<div id="main_left">
					<p class="main_span">牛顿插值</p>
					<form th:action="@{/newton}" method="get" id="algorithm" onsubmit="return false">
						<label for="x">请输入x的值：</label>
						<input id="x" name="x" type="text"><br>
						<p></p>
						<label for="n">请输入n的值：</label>
						<input id="n" name="n" type="number"><br>
						<!--                <button type="button" id="saveClassButton" onclick="sendMessage()">确定</button>-->
						<button type="button" id="saveClassButton">确定</button>
					</form>
					<div>
						<form id="node_one">
						</form>
					</div>
				</div>
				<div id="main_right" >
					<p class="main_span">结果</p>
				</div>
				<div id="none_right"></div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		$('#saveClassButton').click(function () {
			// alert("测试班级添加按钮");
			var data = new FormData(document.getElementById("algorithm"));
			$.ajax({
				url: '/newton',
				type: 'post',
				data: data,
				datatype: 'json',
				processData: false,
				contentType: false,
				timeout: 3000,//3秒后提示错误
				success: function (result) {
					console.log(result)
					// if (result.resultCode == 200) {
					if (result.code===0) {
						let par = document.querySelector("#node_one")
						par.innerHTML = "<p style='text-align: center'>请输入所有经过的点</p>"
						let node = document.getElementById("n").value;
						var nodeX = 0;
						for (var i = 0; i < node * 2; i++) {
							var name = "x" + i;
							var value = "value" + i;
							let chl = document.createElement("input");
							if (i % 2 == 0) {
								let lab = document.createElement("span");
								lab.innerText = "x" + nodeX + ":";
								par.appendChild(lab)
							}
							if (i % 2 == 1) {
								let lab = document.createElement("span");
								lab.innerText = "y" + nodeX + ":";
								nodeX += 1
								par.appendChild(lab)
							}
							chl.setAttribute('type', 'text');
							chl.setAttribute('name', 'x' + i);
							par.appendChild(chl)
							if (i % 2 == 1) {
								let wrap = document.createElement("br")
								par.appendChild(wrap)
							}
						}
						let btn1 = document.createElement("button")
						btn1.setAttribute("type", "button")
						btn1.innerText = "提交"
						btn1.addEventListener("click", Res)
						par.appendChild(btn1)
					}else{
						alert("请输入正确的数字")
					}
				},
				error: function (result) {
					console.log("请求失败")
				}
			});
		});

		function Res() {
			var data2 = new FormData(document.getElementById("node_one"));
			$.ajax({
				url: '/newtonNode',
				type: 'post',
				data: data2,
				processData: false,
				contentType: false,
				datatype: 'json',
				success: function (result) {
					if (result.code===0) {
						console.log("牛顿插值")
						let res1 = document.querySelector("#main_right")
						res1.innerHTML = "   <p class=\"main_span\">结果</p>\n" +
								"            <div>\n" +
								"                <span>牛顿插值结果如下：</span>\n" +
								"                "+result.data+
								"            </div>"
					}else{
						alert("计算错误")
					}
				},
				error: function (result) {
					alert("请输入正确的格式")
					console.log("请求失败")
				}
			});
		}
	</script>
</html>